.App {
  text-align: center;
}

.minesweeper-board {
  border: solid 1px black;
  display: inline-block;
}

.grid-container {
  display: flex;
}

.grid-item {
  width: 30px;
  height: 30px;
}

.minesweeper-square {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.button-container {
  margin-top: 30px;
}